.banner {
  background-image: url(portfolio_banner_bg.png);
  background-size: cover;
  height: calc(100vh - 80px);
  background-position: center;

  display: flex;
  align-items: end;
}

.banner .container {
  display: flex;
  justify-content: space-around;
  padding:0;
  margin: 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 6vw;

  @media (min-width: 800px) {
    font-size: 48px;
  }

  font-family: "Poppins";
  font-weight: 700;
}

.banner p {
  font-size:2vw;

  @media (min-width: 800px) {
    font-size: 16px;
  }

  color: white;
  font-family: "Poppins";
}



.description a {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity .3s;
}

.description a:hover {
  opacity: .5;
}


.description a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.description a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
