.navbar-lewagon {
  justify-content: space-around;
  background: #272727;
  font-family: "Poppins";
  font-weight: 700;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  margin:8px 8px;
}


.social > a {
  font-size:18px;
  width: 35px;
  height:35px;
  line-height:35px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin:5px 5px;
  color: #FF7E53;
  background-color:white;
}

.social > a:hover {
  opacity: 0.5;
  color: #FF7E53;
}
