<div class="banner">
  <div class="container">
    <div>
      <h1>Hi, I'm James</h1>
      <div>
        <ul class="skills">
          <li><p>Skill 1</p></li>
          <li><p>Skill 2</p></li>
          <li><p>Skill 3</p></li>
        </ul>
      </div>
    </div>
    <div class="description">
      <p>paragraph about me and my story</p>
    </div>
  </div>
</div>
