<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "portfolio_logo.png", class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <div class="social mt-2">
            <a href="https://github.com/jamesgoforth"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/james-goforth/"><i class="fab fa-linkedin"></i></a>
            <a href="linktomycv" class="text-decoration-none">CV</a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>
           </div>
      </ul>
    </div>
  </div>
</div>
