<div class="projects">
  <div class="container">
    <h1 class="text-white">Here you will see some of my coding and figma projects alongside some of my presentation designs! </h1>
    <p class="text-white">Drop down with different skills:</p>
    <ul class="text-white">
      <li>Presentations</li>
      <li>Figma</li>
      <li>Websites</li>
      <li>Other Projects = SES Inc etc</li>
    </ul>
    <p class="text-white">Sliding thing with diff projects which is filtered by the drop down</p>
  </div>
</div>
