<%= render 'shared/navbar' %>

<div id="banner">
  <%= render 'shared/banner' %>
</div>

<div id="summary">
  <%= render 'shared/summary' %>
</div>

<div id="projects">
  <%= render 'shared/projects' %>
</div>
